*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    height: 5rem;
}

.logo img{
    width: 100%;
    height: 2.5rem;
    padding-left: 6rem;
}

ul{
    list-style: none;
}

li {
    display: inline;
    margin: 1rem;
}

li a{
    text-decoration: none;
    color: #fcfcfc;
    font-size: 1rem;
    font-weight: 700;
}

.login{
    padding-right: 5rem;
}

.login,
.sign{
    color: #d9dadc;
}

li a:hover{
    color: #39d339;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.first-body{
    background-color: #1d75de;
    height: 23rem;
    padding: 5rem;
}

.title{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 2.3rem;
}

.subtitle{
    color: #fff;
    font-size: 1.55rem;
    font-weight: 400;
    padding-bottom: 2.5rem;
}

.get-btn{
    padding: 1.1rem 2rem;
    border-radius: 1.56rem;
    border: 0;
    color: #fff;
    background-color: #000;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.view-btn{
    padding: 0.9rem 1.9rem;
    border-radius: 1.56rem;
    border: 0.13rem solid #fff;
    color: #fff;
    background-color: #1d75de;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 0.3rem;
    cursor: pointer;
}

.get-btn:hover,
.view-btn:hover{
    transform: scale(1.03);
}

p{
    color: #fff;
    font-size: 0.69em;
    padding: 2.3rem 0;
    font-weight: 100;
}

p span{
    text-decoration: underline;
    cursor: pointer;
}

.second-body{
    padding: 5rem 0;
}

.header-title{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.image-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5rem;
}

.image-1 img,
.image-3 img,
.image-4 img{
    width: 8.5rem;
    height: 8.5rem;
}

.image-content h3{
    font-size: 1.3rem;
    padding-top: 2.8rem;
    font-weight: 700;
}

.details{
    text-align: center;
    color: #000;
    font-size: 0.96rem;
    font-weight: 500;
    padding-top: 0.8rem;
}

.plans{
    background-color: #efefef;
    padding-bottom: 5rem;
}

.header-title-1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    padding-top: 5rem;
}

.sub-header{
    text-align: center;
    color: #000;
    font-size: 1.05rem;
    padding-top: 0.5rem;
}

.subscriptions{
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
}

.box{
    border: 2px solid #fff;
    margin: 1.5rem 1rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
}

.box-1,
.box-2,
.box-3,
.box-4{
    background-color: #fff;
    box-shadow: 0px 1px 9px 1px rgba(27, 9, 9, 0.4);
}

h4{
   color: #fff;
   background-color: #1d75de;
   padding: 0.3rem;
   font-size: 0.95rem; 
   border-radius: 4px;
   width: 14.6rem;
   margin-bottom:0.5rem;
}

.mnth{
    width: 6.4rem;
}

.prepaid{
    border: 1px solid #1d75de;
    color: #0d72ea;
    background-color: #fff;
    padding: 0.32rem;
    width: 12rem;
    border-radius: 0.2rem;
    font-weight: 800;
}

h1{
    font-size: 1.6rem;
    font-weight: 700;
}

.person{
    padding-top: 0.5rem;
}

.price{
    color: #000;
    padding-top: 0.2rem;
    font-weight: 500;
    font-size: 1.2rem;
}

h2{
    font-weight: 200;
    font-size: 1rem;
    padding-top: 0.5rem;
    border-bottom:  2px solid rgb(190, 190, 190);
    padding-bottom: 4rem;
}

.two{
    padding-top: 2.8rem;
}

h6{
    font-size: 0.95rem;
    font-weight: 500;
    padding-top: 0.8rem;
}

.button1,
.button2
{
    padding-top: 2rem;
}

.start-btn{
    display: inline-block;
    margin:  1.99rem auto;
    background-color: #000;
    color: #fff;
    padding: 1rem 4.5rem;
    border-radius: 1.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
}

.start-btn1{
    display: inline-block;
    margin:  1rem auto;
    background-color: #000;
    color: #fff;
    padding: 1rem 4.5rem;
    border-radius: 1.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
}

.start-btn:hover,
.start-btn1:hover{
    transform: scale(1.05);
}

.terms{
    padding-top: 0.2rem;
    font-size: 0.83rem;
    font-weight: 200;
    color: rgb(32, 32, 32);
    padding-bottom: 1rem;
}

h5 span{
    text-decoration: underline;
    cursor: pointer;
}

.terms-1{
    font-size: 0.79rem;
    padding-top: 0.9rem;
    font-weight: 200;
}

footer{
    background-color: #000;
    padding-top: 5rem;
    color: #fff;
}

.footer-menu{
    display: flex;
    justify-content: space-evenly;
}

.footer-logo{
    width: 10%;
    height: 100%;
}

.items h5{
    color: #919496;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.items p{
    padding: 0.7rem;
    margin-left: -0.7rem;
    font-size: 0.9rem;
    cursor: pointer;
}

.items p:hover{
    color: #39d339;
}

.social-media img{
    margin:0 0.5rem;
    cursor: pointer;
}

.social-media img:hover{
    transform: scale(1.2);
}

.footer-buttom{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.footer-location{
    margin: 4rem;
}

.footer-location li a{
    font-size: 0.9rem;
    color: #919496;
}

.footer-location li a:hover{
    color: #39d339;
}

.location-details{
    margin-top: 2.5rem;
    margin-right: 8.5rem;
}

.location-details h5{
    color: #919496;
}

.location-details h5:hover{
    color: #39d339;
    cursor: pointer;
}

.location-details p{
    color: #919496;
    font-size: 0.8rem;
    margin-top: -1.5rem;
    margin-left: -3.6rem;
}


@media only screen and (max-width:1023px){
    nav ul{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .hamburger img{
        margin-left: -5rem;
    }

    .first-body p{
        margin-top: 0.6rem;
        color: #fcfcfc;
    }

    .sub-header{
        margin-bottom: 2rem;
    }
    
    .subscriptions{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box{
        width: 65%;
        margin-top: 0;
    }

    .button1,
    .button2{
        padding-top: 0rem;
    }

    .start-btn,
    .start-btn1{
        width: 100%;
    }

    h2{
        padding: 1.5rem 0;
    }

    h6{
        padding-top: 1.5rem;
    }

    .two{
        padding: 1.5rem 0;
        margin-bottom: 1rem;
    }

    footer{
        position: relative;
    }

    .social-media{
        position: absolute;
        left: 5%;
        top: 69%;
    }

    .footer-location{
        margin: 4rem 2rem;
    }

    .location-details{
        margin-right: 2rem;
    }
   
}

@media only screen and (max-width:767px){
    body{
        overflow-x: hidden;
    }
    
    .logo{
       margin-left: -5rem;
    }

    .hamburger img{
        margin-left: -2.5rem;
    }

    .first-body{
        height: 26rem;
    }

    .title{
        font-size: 1.6rem;
        margin-left: -4rem;
        margin-top: -2rem;
    }

    .subtitle{
        margin-left: -4.1rem;
        font-size: 1.03rem;
    }

    .get-btn{
        margin-top: -2rem;
        margin-left: -4rem;
        width: 150%;
    }

    .view-btn{
        margin-top: 0.5rem;
        margin-left: -4rem;
        width: 150%;
    }

    .first-body p {
        line-height: 1.5;
        width: 160%;
        margin-left: -3.5rem;
    }

    .second-body{
        padding: 2rem;
    }

    .header-title{
        font-size: 2rem;
    }

    .image-content{
        flex-direction: column;
        text-align: center;
    }

    .header-title-1{
        font-size: 2rem;
    }

    .sub-header{
        font-size: 1rem;
    }
    
    .box{
        width: 120%;
    }

    .footer-logo{
        width: 30%;
        margin-bottom: 2rem;
    }

    .footer-menu{
        flex-direction: column;
        margin-left: 1rem;
    }

    .items{
        margin: 2rem 0;
    } 


    .items h5{
        font-size: 1.1rem;
    }

    .items p{
        font-size: 1.2rem;
    }
    .social-media{
        top: 80%;
    }
    
    .footer-location{
        flex-direction: column;
    }

    .footer-location li a{
       margin-left: -2rem;
       margin-right: 1rem;
       font-size: 0.8rem;
    }

    .location-details p{
        margin-right: -1rem;
    }
}



















